.hourly-forcast{
    background-color: #ffb74d;
    margin-top: 100px;
}
.hourly-forcast ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hourly-forcast li{
    margin: 0 20px;
    padding: 10px;
    color: #eee;
}