.card{
    width: 10%;
    margin: 0 auto;
    text-align: center;
    color: #888;
}
.card img{
    width: 40%;
    margin: 0 auto;
}
.card p{
    margin: 10px 0;
}
.card span{
    color: #222;
}
 .card-focused{
    width: 10%;
    margin: 0 auto;
    text-align: center;
    color: #888;
    border: 1px solid #DCDCDC;
    background: #F8F8F8;
} 